/*主页index的样式*/

/*顶部导航条的容器*/
.topbar-wrapper{
    /*设置宽度全屏、设置高度和行高、设置背景颜色*/
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;

}
.topbar a{
    font-size: 12px;
    color:#b0b0b0;
   
    /*设置为块元素，实现不仅仅可以点击字体，点击空白处也可以跳转*/
    display: block;
}
/*设置超链接移入的效果*/
.topbar a:hover{
    color:#fff;
}
/*设置分割线的样式*/
.topbar .line{
    font-size: 12px;
    color:#424242;
    /*设置线与左右侧有间距*/
    margin: 0 8px;
    margin-top:-1px;
}
/*设置左侧导航栏向左浮动*/
.service, .topbar li{
    float: left; 
}


.header-wrapper{
    position: relative;
}
/*设置中间的header*/
.header{
    height: 100px;
}
/*设置logo的h1样式*/
.header .logo-img {
    float: left;
    margin-top: 22px;
    /* overflow: hidden; */
    text-indent: -9999px;
}
/*设置logo的超链接*/
.header .logo a{
    left: 0;
    background-color: red;
    background-image: url(../img/web-logo.ico);
    background-position: center;
    transition: left 0.3s;
}
.logo-img{
    width: 140px;
    height: 40px;

}


/*设置中间的导航条*/
.header .nav-wrapper1{
    float:left;
    margin-left: 7px;
}
.header .nav1{
    height: 100px;
    /*设置行高，这个可以让元素垂直居中*/
    line-height: 100px;
    padding-left: 58px;
}
/*设置导航条中的li*/
.nav1 > li{
    float:left;
}
.all-goods-wrapper{
    position: relative;
}
/*设置左侧导航条样式*/
.left-menu{
    height: 420px;
    width: 234px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: 999;
    left:-120px;
    line-height: 1;
}
ul.left-menu li a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: white;
    margin-right: 0;
    padding: 0 30px;
    font-size: 14px;
}
ul.left-menu li a:hover{
    color: white;
    background-color: #ff6700;
}
.left-menu a i{
    float: right;
    line-height: 42px;
}
/*设置导航条中的字体*/
.nav-wrapper1 li a{
    /*设置为块元素后点击字体的上下侧*/
    display: block;
    font-size: 16px;
    margin-right: 20px;
}
/*鼠标指到时变色*/
.nav-wrapper1 li a:hover{
    color:red;
}
/*隐藏全部商品字体*/
.all-goods{
    /*隐藏元素，但是占据着位置*/
    visibility: hidden;
}

.nav1 .detail-info{
    height: 0;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 100px;
    left:0;
    transition:height 0.3s ;
    /*设置一个比较高的层级，让其展示在最上方*/
    z-index: 9999;
   
}
.nav1 .detail-info .info{
    float:left;
}
.nav1 .show-goods:hover ~ .detail-info,
.detail-info:hover{
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
     /*设置阴影*/
     box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}
/* ====== */

.nav1 .detail-info1{
    height: 0;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 100px;
    left:0;
    transition:height 0.3s ;
    /*设置一个比较高的层级，让其展示在最上方*/
    z-index: 9999;
   
}
.nav1 .detail-info1 .info1{
    float:left;
}
.nav1 .show-goods1:hover ~ .detail-info1,
.detail-info1:hover{
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
     /*设置阴影*/
     box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}
/* ====== */
.nav1 li a{
    font-size: 19px;
    color:black;
}


/*设置banner的相关样式*/
.banner{
    position: relative;
    height: 460px;
}
.banner .img-list li{
    position: absolute;
}
.banner img{
    width: 100%;
    vertical-align: top;
}

/*设置回到顶部*/
.back-top{
    width: 26px;
    height: 206px;
    background-color: #bfa;  
    /*开启固定定位,这4个值的作用是设置该标签在窗口改变的时候也可以不动*/
    position: fixed;  
    bottom: 60px;
    right: 50%;
    margin-right: -639px;
}
/*设置广告区域*/
.ad{
    height: 170px;
    margin-top: 14px;
}
.ad .shortcut,
.ad .imgs,
.ad li{
    float: left;
}
/*设置最左侧的快捷方式*/
.ad .shortcut{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    margin-right: 14px;
}
.ad .shortcut a{
    display: block;
    color: #cfccca;
    height: 84px;
    width: 76px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}
.ad .shortcut li{
    position: relative;
}
.ad .shortcut li::before{
    content: '';
    position: absolute;
    width: 64px;
    height: 1px;
    background-color: #665e57;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}
.ad .shortcut a:hover{
    color:#fff;
}
/*设置图标*/
.ad .shortcut i{
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 20px;
}
.ad .imgs li{
    width: 316px;
    margin-right: 15px;
}
.ad .imgs li:last-child{
    margin: 0;
}
.ad .imgs img{
    width: 100%;
    vertical-align: top;
}
.product{
    margin: 50px 350px;
}
.product .product-tab{
    font-size: 20px;
}

/* 行业情报 */
.industry{
    margin: 50px 300px;
}
.industry .industry-img{
    display:inline;
}
.footer {
    padding: 10px 25%;
    color: #666;
    background-color:black;
}
.footer table td{ 
    width: 200px;
    height: 35px;
}

/*条形背景样式*/
.bac-img{
    background-image: url(../img/background2.jpg);
    height: 150px;
    text-align: center;
    margin:0 auto;
}
.p1{
    font-size: 30px;
    line-height: 64px;
    font-weight: 200;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
    color:#fff;
}
.p2{
    color:#fff;
    font-size: 16px;
    line-height: 20px;
}
.red-btn{
    padding: 2px 37px;
    color: #333;
    background: #fff;
    border-color: #fff
}
.outline-bbtn{
    display: inline-block;
    padding: 3px 23px;
    margin: 3px;
    border: 2px solid #FFFFFF;
    /* border-radius: 10px; */
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity
}


/*隐藏层的页面的显示*/
.detail-info{
    margin:0 auto;
    text-align:center;
}
.detail-info a{
    font-size: 25px;
    margin: 35px;
    color:black;
}

.detail-info1{
    margin:0 auto;
    text-align:center;
}
.detail-info1 a{
    font-size: 25px;
    margin: 35px;
    color:black;
}

.tab-content{
    width: 850px;
    height: 400px;
    border: 5px solid red;
}
.tabpanel{
    width: 200px;
    height: 50px;
    margin: 20px;

}
.product1{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
    margin: 5px 15px 15px 45px;
    float: left;
    position: absolute;
    top: 800px;
    left: 350px;
}
.product2{
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px; 
    margin: 5px 15px 15px 45px;
    float: left;
    position: absolute;
    top: 800px;
    left: 620px;
}
.product3{
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px; 
    margin: 5px 15px 15px 45px;
    float: left;
    position: absolute;
    top: 800px;
    left: 890px;
}
.product4{
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px; 
    margin: 5px 15px 15px 45px;
    float: left;
    position: absolute;
    top: 900px;
    left: 350px;
}
.product5{
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px; 
    margin: 5px 15px 15px 45px;
    float: left;
    position: absolute;
    top: 900px;
    left: 620px;
}
.product6{
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px; 
    margin: 5px 15px 15px 45px;
    float: left;
    position: absolute;
    top: 900px;
    left: 890px;
}
.product7{
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px; 
    margin: 5px 15px 15px 45px;
    float: left;
    position: absolute;
    top: 1000px;
    left: 350px;
}
.product8{
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px; 
    margin: 5px 15px 5px 45px;
    float: left;
    position: absolute;
    top: 1000px;
    left: 620px;
}
