<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        小米商城 - 小米10 Pro、Redmi 10X、小米MIX Alpha，小米电视官方网站
    </title>
    <!--引入重置样式表-->
    <link rel="stylesheet" href="./css/reset.css">
    <!--引入图标字体-->
    <!--引入当前页面的样式表-->
    <link rel="stylesheet" href="./css/index.css">
    <!--引入公共的样式表-->
    <link rel="stylesheet" href="./css/base.css">
    <!--设置网站图标-->
    <link rel="icon" href="./img/favicon.ico">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-theme.min.css">
    <script src="./bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <!--顶部导航条-->
    <!--顶部导航条外部容器-->
    <div class="topbar-wrapper">
        <!--内部容器-->
        <div class="topbar w clearfix">
            <!--左侧导航条-->
            <ul class="service">
                <li><a href="javascript:;">小米商城</a></li>
                <li class="line">|</li>
                <li><a href="javascript:;">MIUI</a></li>
                <li class="line">|</li>
                <li><a href="javascript:;">loT</a></li>
                <li class="line">|</li>
                <li><a href="javascript:;">云服务</a></li>
                <li class="line">|</li>
                <li><a href="javascript:;">金融</a></li>
                <li class="line">|</li>
                <li><a href="javascript:;">有品</a></li>
                <li class="line">|</li>
                <li><a href="javascript:;">小爱开放平台</a></li>
                <li class="line">|</li>
                <li><a href="javascript:;">企业团购</a></li>
                <li class="line">|</li>
                <li><a href="javascript:;">资质证照</a></li>
                <li class="line">|</li>
                <li><a href="javascript:;">协议规则</a></li>
                <li class="line">|</li>
                <!-- <li class="app-wrapper">
                    <a class="app" href="javascript:;">
                        下载app -->
                        <!--增加一个弹出层-->
                        <!-- <div class="qrcode">
                            <img src="./img/mi.png"/>
                            <span>小米商城App</span>
                        </div>
                    </a>
                </li>  -->
                <li class="line">|</li>
                <li><a href="javascript:;">Select Location</a></li>
                <li class="line">|</li>
            </ul>          
        </div>
    </div>
    <!--创建一个头部的外部容器-->
    <div class="header-wrapper">
        <div class="header w clearfix">
            <!--创建一个logo-->
            <h1 class="logo" title="小米">
                小米官网
                <a class="home" href="/"></a>
                <a class="mi" href="/"></a>
            </h1>
            <!--创建一个中间导航条的容器-->
            <div class="nav-wrapper">
                <!--创建导航条-->
                <ul class="nav clearfix">
                    <li class="all-goods-wrapper">
                        <a class="all-goods" href="#">全部商品分类</a>
                        <!--创建左侧的导航菜单-->
                        <!-- <ul class="left-menu">  
                             <li>
                                <a href="#">手机 电话卡  <i>></i></a>
                             </li>
                             <li>
                                <a href="#">电视 盒子  <i>></i></a>
                             </li>
                             <li>
                                <a href="#">笔记本 平板  <i>></i></a>
                             </li>
                             <li>
                                <a href="#">家电 插线板  <i>></i></a>
                             </li>
                             <li>
                                <a href="#">出行 穿戴  <i>></i></a>
                             </li>
                             <li>
                                <a href="#">智能 路由器  <i>></i></a>
                             </li>
                             <li>
                                <a href="#">电源 配件 <i>></i></a>
                             </li>
                             <li>
                                <a href="#">健康 儿童  <i>></i></a>
                             </li>
                             <li>
                                <a href="#">耳机 音箱  <i>></i></a>
                             </li>
                             <li>
                                <a href="#">生活 箱包  <i>></i></a>
                             </li>
                        </ul> -->
                    </li>
                    <li ><a href="#">首页</a></li>
                    <li class="show-goods"><a href="#">5+1产品线</a></li>
                    <li class="show-goods"><a href="#">超弦实验室</a></li>
                    <li><a href="#">服务</a></li>
                    <li><a href="#">社区</a></li>

                    <!--创建一个弹出层-->
                    <div class="goods-info">

                    </div>
                </ul>
            </div>

        </div>
    </div>
    <!--创建一个banner的容器-->
    <div class="banner-wrapper">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./img/index1.png" alt="...">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
              <div class="item">
                <img src="./img/index2.png" alt="...">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
              <div class="item">
                <img src="./img/index3.png" alt="...">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
              <div class="item">
                <img src="./img/index4.png" alt="...">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
            </div>
          
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">上一张</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">下一张</span>
            </a>
          </div>
    </div>
    <!--创建工具条-->
    <div class="back-top">

    </div>
    <!--广告宣传-->
    <div class="ad w">
        <ul class="shortcut">
            <li>
                <a href="#">
                    <i>★</i>
                    小米秒杀</a>
            </li>
            <li>
                <a href="#">
                    <i>▲</i>
                    企业团购</a>
            </li>
            <li>
                <a href="#">
                    <i>■</i>
                    F码通道</a>
            </li>
            <li>
                <a href="#">
                    <i>●</i>
                    米粉卡</a>
            </li>
            <li>
                <a href="#">
                    <i>◆</i>
                    以旧换新</a>
            </li>
            <li>
                <a href="#"><i>〓</i>话费充值</a>
            </li>
        </ul>
        <!-- <ul class="imgs">
            <li>
                <a href="#"><img src="./img/1.jpg" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="./img/2.jpg" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="./img/3.jpg" alt=""></a>
            </li>
        </ul> -->
    </div>
</body>
</html>